body {
    margin: 0;
    height: 700px;
}

.header {
    height: 40px;
    width: 100%;
    background-color: #F2E8DA;
    display: flex;
    align-items: center;
    padding-left: 5px; 
}

.nav {
    position: relative;
    font-family: 'Sunflower', sans-serif;
}

.nav a {
    text-decoration: none;
    color: black;
    margin: 1em;
    font-size: 22px;
    position: relative;
} 

.nav a:hover {
    color: white;
}

#section-home {
    height: 650px;
    width: 100%;
    background-image: url('images/background.gif');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

.section-second {
    height: 650px;
    background-color: white;
    padding-left: 20px;
}

h1 {
    font-size: 4em;
    width: 130px;
    color: white;
    position: absolute;
    top: 15px;
    left: 70px;
    animation: slide 1s ease-out;
    font-family: 'Sunflower', sans-serif;
}

.img {
    width: 250px;
    height: auto;
}

/* slide 애니메이션 */
@keyframes slide {
    from {
        left: -100px; 
        opacity: 0;
    }
    to {
        left: 70px;
        opacity: 1;
    }
}

/* disappear 애니메이션 */
@keyframes disappear {
    from {
        left: 70px;
        opacity: 1;
    }
    to {
        left: -100px;
        opacity: 0;
    }
}

.footer {
    width: 100%;
    height: 150px;
    background-color: #F2E8DA;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.icon-box-container {
    display: flex;
    gap: 20px;
    align-items: center; 
}

.icon-box {
    position: relative; 
    width: 40px;
    height: 40px;
    background-color: #FFBE98;
    border-radius: 10px;
    margin-right: 120px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box a {
    text-decoration: none; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px; 
}

.icon-box i {
    font-size: 25px;
}
